<div class="container-fluid">

   <ng-progress></ng-progress>

<div id="contactpage">
   <div class="bg-dark">
      <h5 class="text-center">Here You Can Find Our Contact Information: </h5>
   </div>

   <div class="profilePic">

   </div>

   <div class="contacts">
      Contact us Via:
      <ol>
         <li>Email: danielgithiomi@gmail.com</li>
         <li>Phone Number: +254715126969</li>
      </ol>
   </div>

   <div id="socialicons" class="bg-dark">
      <a href="https://www.instagram.com/"><img src="https://www.freepnglogos.com/uploads/instagram-logos-png-images-free-download-2.png" width="35px" height="35px" alt="Instagram logo" ></a> || 
      <a href="https://www.whatsapp.com"><img src="https://www.stickpng.com/assets/images/580b57fcd9996e24bc43c543.png" width="30px" height="30px" alt="Whatsapp Logo" ></a> ||
      <a href="https://www.snapchat.com"><img src="https://www.freepnglogos.com/uploads/snapchat-icon-logo-png-15.png" width="55px" height="55px" alt="Snapchat Logo" ></a> ||
      <a href="https://www.twitter.com"><img src="https://pngimg.com/uploads/twitter/twitter_PNG1.png" width="30px" height="30px" alt="Twitter Logo" ></a> 
   </div>
   
</div>

</div>