<div id="contactpage">
   <div class="bg-dark">
      <h5 class="text-center">Here You Can Find Our Contact Information: </h5>
   </div>

   <div class="profilePic">

   </div>

   <div class="contacts">
      Contact us Via:
      <ol>
         <li>Email: danielgithiomi@gmail.com</li>
         <li>Phone Number: +254715126969</li>
      </ol>
   </div>

   <div id="socialicons" class="bg-dark">
      <a href="https://www.instagram.com/"><img src="../../../assets/instagramlogo.png" width="35px" height="35px"></a> || 
      <a href="https://www.whatsapp.com"><img src="../../../assets/whatsapplogo.png" width="30px" height="30px"></a> ||
      <a href="https://www.snapchat.com"><img src="../../../assets/snapchatlogo.png" width="30px" height="30px"></a> ||
      <a href="https://www.twitter.com"><img src="../../../assets/twitterlogo.png" width="30px" height="30px"></a> 
   </div>
   
</div>