<div class="container-fluid">
   <ng-progress>
   </ng-progress>

   <div class="bg-dark">
      <h5 class="text-center">Daniel Githiomi Github Profile</h5>
   </div>

   <div  id="mygit">
    <div class="row">

      <div class="col-md-3">
         <img src="{{ _mygit.myPic }}" width="300px" height="300px">
      </div>

      <div id="right" class="col-md-8; bg-dark">
         <div class="info">
            <hr><cite>
            My Login: <span class="mygit">{{ _mygit.myUsername }}</span> <br>
            My Username: <span class="mygit">{{ _mygit.myName }}</span> <br>
            My Bio: <span class="mygit">{{ _mygit.myBio }}</span> <br>
            My Followers: <span class="mygit">{{ _mygit.myFollowers }}</span> <br>
            My Following: <span class="mygit">{{ _mygit.myFollowing }}</span> <br>
            </cite><hr>
         </div>
      </div>
     </div>

     <div class="container-fluid" id="repositories">

      <div class="header">
         <h5 class="text-center; bg-dark">LIST OF MY REPOSITORIES</h5>
   
         <cite class="text-center; repoCount">I have a total of {{ repoLength }} repositories!</cite>
      </div>
   
      <div class="allrepos">
         <div class="repos" *ngFor = 'let repo of repos; let i = index'> <hr>
           <span class="title">{{ repo.name }} <br></span>
           <hr>
   
            <button class="btn btn-warning" (click) = "displayDetails(i)">Repository Details</button>
   
         <app-repodetails *ngIf = "repo.showRepoDetails" [repoDetails] = 'repo' ></app-repodetails>
         </div>
      </div>
   
   </div>
   
    </div>
    
</div>
