#mygit{
   padding: 13px;
   margin: 10px;
   border-radius: 20px;
   border: 3px solid teal;
   box-shadow: 3px 3px 3px black;
}

.bg-dark{
   margin: 30px;
   color: wheat;
   border-radius: 20px;
   padding: 10px;
}

h5{
   font-family: 'Courier New', Courier, monospace;
}

.row{
   margin-left: 40px;
}

.info{
   margin: 20px;
   padding: 20px;
   font-family: 'Courier New', Courier, monospace;
}

.mygit{
   color: white;
   font-weight: bolder;
   border-bottom: 2px solid teal;
}

.col-md-3{
   padding: 10px;
   margin: 0px 20px 0px 30px;
}

#right{
   width: 60%;
   padding: 15px;
   margin: 10px;
   border-radius: 20px;
   border: 3px solid teal;
   box-shadow: 3px 3px 3px black;
}

.bg-dark{
   margin: 30px;
   color: wheat;
   border-radius: 20px;
   padding: 10px;
}

.header{
   margin: 20px;
}

h5{
   margin: 5px;
   font-family: 'Courier New', Courier, monospace;
   text-align: center;
}

.repoCount{
   font-family: 'Courier New', Courier, monospace;
   border-radius: 15px;
   box-shadow: 3px 3px 3px teal;
   padding: 8px;
}

.repos{
   background-color: wheat;
   border-radius: 20px;
   padding: 10px;
   color: black;
   margin: 10px;
   box-shadow: 3px 3px 3px black;
}

.title{
   font-family: 'Courier New', Courier, monospace;
   font-weight: bolder;
   text-align: center;
}

button{
   margin: 5px 0px 5px 20px;
   width: 150px;
   padding: 5px;
   box-shadow: 2px 2px 2px black;
   border-radius: 10px;
}