#usernameform{
   margin: 30px;
   padding: 10px;
   color: wheat;
   border-radius: 20px;
}

input{
   margin-left: 30px;
   border-radius: 10px;
   padding: 5px;
   width: 70%;
}

.form-group{
   padding-left: 100px;
}

.confirm{
   margin: 5px;
   padding-left: 40%;
}

button{
   margin: 5px;
   margin-left: 45%;
}