<div id="navigation">

<nav id="nav" class="bg-dark">
   <a class="navbar-brand" routerLink = "accesspage"><b>GITHUB ACCESS</b></a>
   <h6><cite>Created by: Daniel Githiomi</cite></h6>
   <hr>
   <div class="route">
      <a class="routelink" routerLink="/about" routerLinkActive="active"> ABOUT ME</a> ||
      <a class="routelink" routerLink="accesspage" routerLinkActive="active"> GITHUB SEARCH </a> ||
      <a class="routelink" routerLink="/repos" routerLinkActive="active"> USER REPOSITORIES </a> ||
      <a class="routelink" routerLink="/contactpage" routerLinkActive="active"> CONTACT </a>
   </div>
</nav>

</div>